global
log 127.0.0.1 local0
maxconn 4000
daemon
uid 99
gid 99

defaults
log     global
mode    http
option  httplog
option  dontlognull
timeout server 5s
timeout connect 5s
timeout client 5s
stats enable
stats refresh 10s
stats uri /stats

frontend https_frontend
bind *:80
bind *:443 ssl crt /etc/haproxy/certs/www.{{ lookup('file', '{{ playbook_dir }}/grafana_domain') }}.pem
mode http
option httpclose
option forwardfor
reqadd X-Forwarded-Proto:\ https
default_backend web_server
redirect scheme https code 301 if !{ ssl_fc }

backend web_server
mode http
balance roundrobin
cookie SERVERID insert indirect nocache
server s1 localhost:3000 check cookie s1

# frontend www-https
#   bind *:443 ssl crt /etc/haproxy/certs/www.{{ lookup('file', '{{ playbook_dir }}/grafana_domain') }}.pem
#   reqadd X-Forwarded-Proto:\ https
#   acl letsencrypt-acl path_beg /.well-known/acme-challenge/
#   use_backend letsencrypt-backend if letsencrypt-acl
#   default_backend www-backend
